; Data format in configuration file:
;
;		[section]
;		parameter1 = value1
;		parameter2 = value2
;			...
;		
; Input parameters of the task: 
; 					dimension, initset_proections, discr, skip_iter, max_iter, max_cycle_len, T, eps, tau, name_math_mapping, math_mapping_params (необязательный параметр)
; 
; Used mathematical mapping (possible value of name_math_mapping):
; 					Rotation, Bernulli, Logical, Filtering

[data_program]
dimension = 2
initset_proections = -1 1  -1 1
discr = 0.1
skip_iter = 500
max_iter = 100000
max_cycle_len = 128
T = 100
eps = 0.01
tau = 0.01
name_math_mapping = Filtering
math_mapping_params = 1.99 -5.0