; (!) Этот файл предоставлен только для знакомства с примерным содержимым конфигурационного файла, необходимого для запуска приложения!
;
; (!!!) Перед запуском приложения рекомендуется создать копию данного конфигурационного файла (если она не была создана ранее),
;       переименовав его в data.config и удалить все комментарии (находящиеся после значка ";")!
;
; Формат записи данных в конфигурационном файле:
;
;	  [section1]
;	  parameter1 = value1
;	  parameter2 = value2
;			...
; 	  [section2]
; 	  		...
;
; (!!!) Данные, идущие под секцией [data_program] предназначены непосредственно для работы с программой!
;
; (!) Входные параметры конфигурационого файла: dimension, wave_directional, boundary_conditions, computing_method,
; 												points_source, point_coordinates, d, alpha, beta, max_iter, eps, h.
;
; Математический смысл входных параметров:
:
;     параметры dimension, d, alpha, beta, max_iter, eps, h имеют такой же смысл, что и в формулировке задачи.
;     points_source - способ (источник) генерирования точек, для которых буду производиться расчеты.
;           		  Возможные варианты значений этого параметра: generate_grid - точки генерируются в виде сетки
:                                                        		   generate_random - точки берутся случайным образом
;                                                        		   from_file - точки берутся из файла
; 																            (start_point.txt. В случае чего, его необходимо создать вручную)
;     wave_type - параметр, определяющий тип волны, относительно направлений ее распространения
;				  Возможные варианты значений этого параметра: uniwave - однонаправленная
;															   neuman - двунаправленная, с краевыми условиями типа Неймана
;															   periodic - двунаправленная, с периодическими краевыми условиями
;                                twoclusters - полносвязная нейронная сеть для режимов двухкластерной синхронизации
;	  point_coordinates - координаты начальной точки, определяющей область, из которой будут браться точки для будущих расчетов
;                         (нужен только в случае, если точки для будущих расчетов не берутся из файла, т.е. points_source != from_file)
; 	  computing_method - способ подсчета решения.
; 						 Возможные варианты значений этого параметра: numeric - с помощью численных методов
; 																	  analytic - аналитическим способом.
; 	  параметры steps_counts и discr определяют границы области, из которой берутся точки для будущих расчетов:
;               в случае, если точки для расчетов берутся из сетки, параметр steps_count определяет число отсчетов,
;               которое необходимо проделать в каждом направлении при генерации точек, а параметр discr сторону "клеточки" - растояние,
;               на которое отделены друг от друга соседние точки сетки (сетка представляет из себя набор смежных кубиков).
;               в случае, если точки для расчетов берутся случайным образом, то параметры discr и steps_count определяют другую границу
;               области, из которой будут браться точки для будущих расчётов (область представляет из себя многомерный кубик, положение
;               которого в пространстве и границы для генерации точек определяются 2 противоположными его вершинами -
;               точками с координатами point_coordinates и координатами, отличающимися от соответствующих координат point_coordinates
;               на величину discr*steps_count по каждому направлению).
;	  параметр sample необходим только в том случае, если точки будут браться случайным образом (т.е. points_source == generate_random).
;              Этот параметр определяет выборку, количество точек, которые будут выбраны случайным образом.
;

[data_program]
dimension = 2
wave_type = uniwave
computing_method = numeric
points_source = generate_grid
point_coordinates = -2.5 -2.5
d = 0.057
alpha = 5
beta = 3
h = 0.001
max_iter = 5000
steps = 21
eps = 0.001
discr = 0.25